<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <title>zeochat</title>
  <link rel="apple-touch-icon" href="/img/ico/apple-icon-120.png">
  <link rel="shortcut icon" type="image/x-icon" href="/img/ico/favicon.ico"> {{> styles}}
</head>
{{body}}
</body>

</html>