<div class="app-content content">
    <div class="content-wrapper">
        {{> content-header title="Status"}} {{> scripts}}
        <div class="content-body">
            <div class="row">
                <div class="col">
                    {{> card-status}}
                </div>
            </div>
        </div>
    </div>
</div>