<main class="status container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 id="menu" class="card-title">Interests</h4>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content" aria-expanded="true">
            <div class="card-body">
                <pre class="language-json">
                <code class="language-json">
                    {{status}}
                </code>
            </pre>
            </div>
        </div>
    </div>
</main>