<style>
    .live-guests.card-columns {
        -webkit-column-count: 10;
        -moz-column-count: 10;
        column-count: 10;
    }

    .live-guests .card-deck {
        padding-bottom: 10px;
    }
    .badge.gender {
        position: absolute;
        top: 62px;
        left: 0;
    }
    .badge.nsfw {
        position: absolute;
        top: 62px;
        right: 0;
    }
</style>
<main role="main" class="container-fluid">
    <div class="live-guests">
    </div>
</main>
<script src="/stack-admin-3.0/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<script>
    function chunk(arr, size) {
        var arr2 = arr.slice(0),
            arrays = [];
        while (arr2.length > 0) {
            arrays.push(arr2.splice(0, size));
        }
        return arrays;
    }

    function showLiveGuests() {
        console.log('Show live guests');
        $('.live-guests').empty();

        $.getJSON("/match/admin/live-guests", function (data) {
            console.log(data);
            var items = [];
            $.each(data.guests, function (key, val) {

                var html = '';
                html = html + '<div class="col-sm-1">';
                html = html + '<div class="card">';
                html = html + '  <a href="/admin/live-guests/' + val._id + '">';
                html = html + '    <img class="card-img-top" src="/admin/preview/' + val._id + '.png" />';
                if (val.peer) {
                    html = html + '    <img class="card-img-bottom" src="/admin/preview/' + val.peer + '.png" />';
                }
                if (val.gender === 'Female') {
                    html = html + '<span class="badge badge-danger gender"><i class="fa fa-female"></i></span>';
                    //} else {
                    //html = html + '<span class="badge badge-primary gender"><i class="fa fa-female"></i></span>';
                }

                if (val.nsfw > 0.5) {
                    html = html + '<span class="badge badge-danger nsfw"><i class="fa fa-star"></i></span>';
                }
                html = html + '  </a>';
                html = html + '</div>';
                html = html + '</div>';

                console.log(html);
                items.push(html);
            });
            console.log(items);
            var chunked = chunk(items, 12);
            console.log(chunked);
            var html2 = '';
            $.each(chunked, function (key2, chunk) {
                html2 = html2 + '<div class="row">';
                $.each(chunk, function (key3, item) {
                    html2 = html2 + item;
                })
                html2 = html2 + '</div>';
            })

            $('.live-guests').append(html2);
        });
    }

    $(document).ready(function () {
        if ($('.live-guests').length > 0) {
            showLiveGuests();
            var interval = setInterval(showLiveGuests, 5000);
        }
    })

</script>