<main class="chat-monitor container-fluid">
    <div class="live-chat" data-id="{{id}}">
        <div class="cams">
            <video class="guestA"></video>
            <video class="guestB"></video>
        </div>
        <div class="chat">
            <div class="history"></div>
        </div>
    </div>
</main>
<script src="/js/bundle-admin.js"></script>