<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow menu-border">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" navigation-header">
        <span>Admin</span><i class=" ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Apps"></i>
      </li>
      <li class="nav-item"><a href="/admin/live-guests"><i class="ft-eye"></i><span class="menu-title" data-i18n="">Live Guests</span></a>
      </li>
      <li class="nav-item active"><a href="/admin/status"><i class="ft-activity"></i><span class="menu-title" data-i18n="">Status</span></a>
      </li>
    </ul>
  </div>
</div>