<body class="chat-page vertical-layout vertical-menu-overlay menu-collapsed menu-hide content-left-sidebar blank-page chat-application">
    <div class="join-component app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- coming soon with background image -->
                <section class="flexbox-container comingsoonOne">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-6 col-12 p-0">
                            <div class="card card-transparent box-shadow-0 border-0">
                                <div class="card-content">
                                    <div class="text-center">
                                        <h5 class="card-text pb-2 white">BETA TESTING IN PROGRESS v{{version}} </h5>
                                        {{!--
                                        <img src="/img/logo/zeochat-logo-light-big.png" class="home-logo img-responsive block width-300 mx-auto" width="300" alt="bg-img"> --}}
                                        <h1 class="moving-title neochat-title">
                                            <img src="/img/logo/zeochat-icon-white-200.png" class="home-logo-icon">
                                            <span class="text-wrapper">
                                                <span class="line line1"></span>
                                                <span class="letters">
                                                    <span class='letter'>z</span>
                                                    <span class='letter'>e</span>
                                                    <span class='letter'>o</span>
                                                    <span class='letter'>c</span>
                                                    <span class='letter'>h</span>
                                                    <span class='letter'>a</span>
                                                    <span class='letter'>t</span>
                                                </span>
                                            </span>
                                        </h1>
                                        <div class="col-12 pt-1">
                                            <p class="card-text lead white">
                                                The fastest random chat.
                                            </p>
                                            <p class="card-text lead white">
                                                Meet thousands of people across the world securely for free. No ads, no bots. Try it!
                                            </p>
                                            <p class="card-text lead white interests"></p>
                                            <fieldset class="join form-group position-relative">
                                                <input type="text" class="form-control form-control-lg" placeholder="What are your interests?">
                                                <div class="form-control-position">
                                                    <i class="ft-hash primary font-medium-4"></i>
                                                </div>
                                                <div class="form-group text-center join-buttons">
                                                    <!-- Floating button Regular with text -->
                                                    <button type="submit" class="btn btn-float btn-pink join-unmod">
                                                        <i class="ft-alert-circle font-medium-4"></i>
                                                        <span>Unmoderated</span>
                                                    </button>
                                                    <button type="submit" class="btn btn-float btn-float-lg btn-primary join">
                                                        <i class="ft-message-circle"></i>
                                                        <span>Begin talking</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <!--
                                        <div class="col-12 text-center pt-2">
                                            <p class="socialIcon card-text">
                                                <a href="#">
                                                    <i class="fa fa-facebook-square white"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa fa-twitter-square white"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa fa-google-plus-square white"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa fa-linkedin-square white"></i>
                                                </a>
                                            </p>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/ coming soon with background image -->
                <section class="homepage-cards">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-columns">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="align-self-center">
                                                    <i class="ft-activity white font-large-2 float-left"></i>
                                                </div>
                                                <div class="media-body white text-right">
                                                    <h3 class="guest-count">0</h3>
                                                    <span>Guests</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-success">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="align-self-center">
                                                    <i class="ft-activity white font-large-2 float-left"></i>
                                                </div>
                                                <div class="media-body white text-right">
                                                    <h3 class="guest-count">0</h3>
                                                    <span>Guests</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-success">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="align-self-center">
                                                    <i class="ft-activity white font-large-2 float-left"></i>
                                                </div>
                                                <div class="media-body white text-right">
                                                    <h3 class="guest-count">0</h3>
                                                    <span>Guests</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-success">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="align-self-center">
                                                    <i class="ft-activity white font-large-2 float-left"></i>
                                                </div>
                                                <div class="media-body white text-right">
                                                    <h3 class="guest-count">0</h3>
                                                    <span>Guests</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-success">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="align-self-center">
                                                    <i class="ft-activity white font-large-2 float-left"></i>
                                                </div>
                                                <div class="media-body white text-right">
                                                    <h3 class="guest-count">0</h3>
                                                    <span>Guests</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-success">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="align-self-center">
                                                    <i class="ft-activity white font-large-2 float-left"></i>
                                                </div>
                                                <div class="media-body white text-right">
                                                    <h3 class="guest-count">0</h3>
                                                    <span>Guests</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-success">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="align-self-center">
                                                    <i class="ft-activity white font-large-2 float-left"></i>
                                                </div>
                                                <div class="media-body white text-right">
                                                    <h3 class="guest-count">0</h3>
                                                    <span>Guests</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-success">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="align-self-center">
                                                    <i class="ft-activity white font-large-2 float-left"></i>
                                                </div>
                                                <div class="media-body white text-right">
                                                    <h3 class="guest-count">0</h3>
                                                    <span>Guests</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- fixed-top-->
    <nav class="chat-component header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark bg-primary navbar-brand-centers"
        data-nav="brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/">
                            <img class="brand-logo" alt="zeochat logo" src="/img/logo/zeochat-icon-white-32.png">
                            <h2 class="brand-text">zeochat</h2>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <!--<li class="nav-item">
                            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="ficon ft-link"></i> <span class="socket-id"></span></a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link nav-link-label" href="#">
                                <i class="ficon ft-user"></i>
                                <span class="badge badge-pill badge-default badge-danger bg-pink badge-default badge-up count">0</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-label feedback-link" href="#">
                                Feedback
                                <i class="ficon ft-edit"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="chat-component app-content content">
        <div class="sidebar-left sidebar-fixed h-100-d">
            <div class="sidebar h-100-d">
                <div class="sidebar-content card h-100-d">
                    <div class="list-group position-relative h-100-d">
                        <div class="media-list">
                            <div class="media remote">
                                <div class="media-body w-100">
                                    <video class="remote w-100" muted></video>
                                    <div class="watermark">
                                        <img class="brand-logo" alt="zeochat logo" src="/img/logo/zeochat-icon-white-32.png">
                                        <span class="neochat-watermark">zeochat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media local">
                                <div class="media-body text-center">
                                    <video class="local text-center" muted></video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <canvas class="still"></canvas>
        </div>
        <div class="content-right">
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <section class="chat-app-window">
                        <div class="badge badge-primary mb-1">Chat History</div>
                        <div class="chats">
                            <div class="chats history">
                            </div>
                            <div class="chats peer-typing hide">
                                <p class="time">Stranger is typing...</p>
                            </div>
                        </div>
                    </section>
                    <section class="chat-app-form">
                        <form class="chat-app-input d-flex">
                            <fieldset class="form-group position-relative has-icon-left col-12 m-0">
                                <div class="input-group">
                                    <div class="form-control-position hide">
                                        <i class="icon-emoticon-smile"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Type your message">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary send">
                                            <span class="text">Send</span>
                                            <i class="fa fa-paper-plane-o"></i>
                                        </button>
                                        <button type="button" class="btn btn-pink proceed">
                                            <span class="wait">
                                                <span class="text">Skip</span>
                                                <i class="ft-phone-off"></i>
                                            </span>
                                            <span class="next">
                                                <span class="text">Next</span>
                                                <i class="ft-fast-forward"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative has-icon-left col-2 m-0">
                                <div class="btn-group">
                                </div>
                            </fieldset>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" data-modal-name="modal-spinner">
        <div class="modal__dialog">
            <div class="modal__content">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
    <div class="modal" data-modal-name="modal-error">
        <div class="modal__dialog">
            <header class="modal__header">
                <h3 class="modal__title">Error!</h3>
            </header>
            <div class="modal__content">
                <div class="modal-error-text"></div>
            </div>
        </div>
    </div>
    <div class="modal" data-modal-name="modal-feedback">
        <div class="modal__dialog modal__wide">
            <header class="modal__header">
                <h3 class="modal__title">Feedback</h3>
            </header>
            <div class="modal__content">
                <form class="form feedback-form">
                    <div class="form-body">
                        <div class="form-group">
                            <label for="issueinput8">Send us your feeback!</label>
                            <textarea id="issueinput8" rows="5" class="form-control feedback-text" name="feedback" placeholder="Send us your feeback!"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" class="btn btn-warning mr-1 feedback-close">
                            <i class="ft-x"></i> Close
                        </button>
                        <button type="submit" class="btn btn-primary feedback-send">
                            <i class="fa fa-check-square-o"></i> Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--<footer class="chat-component footer fixed-bottom footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
            Copyright &copy; 2018 <a class="text-bold-800 grey darken-2" href="/">chat.ly </a>, All rights reserved.
        </span>
            <span class="float-md-right d-block d-md-inline-block d-none d-lg-block">
            Hand-crafted & Made with <i class="ft-heart pink"></i>
        </span>
        </p>
    </footer>-->
    {{> scripts}}

</body>